/* custom css here */
body { 
    padding-bottom: 95px; 
}
#photo {
    text-align: center;
}
#title{
    text-align: center;
}
#profileText{
    background-color: #d5e1df;
    border-radius: 5px;
}
#bodyText{
    background-color: #d5e1df;
    border-radius: 5px;
    font-size: 2em;
}
div.gallery {
        
    margin: auto;
    border: 1px solid #ccc;
    text-align: center;
    width: 680px;
    border-radius: 5px;
}
  
div.gallery:hover {
    text-align: center;
    border:5px solid #777;
    border-radius: 5px;
}
  
div.gallery img {
    
    text-align: center;
    width: 100%;
    height: auto;
    border-radius: 5px;
}
  
div.desc {
    text-align: center;
    padding: 15px;
    
}